@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
/*   background-color: black; */
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #009fff, #ec2f4b);
  overflow: hidden;  
}
.todo {
  background: #fff;
  max-width: 400px;
  height: 450px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.todo header {
  font-size: 30px;
  font-weight: 600
}
.op {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.op input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
#add_todo {
  color: #fff;
  margin-top: -2px;
  margin-left: 7px;
  font-size: 50px;
  color: #8E49E8;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}
#add_todo:hover {
  opacity: 1
}
#tasks {
  height: 250px;
  overflow-y: auto;
}
.todo_task {
  position: relative;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  overflow: hidden;
}
.dlt_todo, .edit_todo {
  position: relative;
  right: -340px;
  top: -37px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 40px
}
.edit_todo {
  color: #009fff; 
}
.dlt_todo{
  color: #ec2f4b;
  font-size: 26px;
  top: -39px;
}
.todo_task:hover .edit_todo{
  right: -250px;
  top: -37px
}
.todo_task:hover .dlt_todo{
  right: -250px;
  top: -39px
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}
#clearAll {
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #8E49E8;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 3px;
  border-color: transparent;
  transition: all 0.3s ease;
  margin-top: -8px;
}
#clearAll:hover {
  opacity: 1;
}
